.about-page {
  padding: 175px;
  background-image: url("./images/20201230_203900.jpg");
  left: 50%;
  height: 100%;
  background-position: 0;
  background-repeat: no-repeat;
}

.about-btn {
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.about {
  font-family: "Biryani", sans-serif;
  font-weight: 900;

}